.nav-link-wrapper a:hover,.nav-link-wrapper a:active,.nav-link-wrapper a[href="index.html"]{
    background-color: rgb(8,115,181);
    color: white;
}
.main{
    display: flex;
}
@media(max-width: 768px){
    .main{
        display: inline;
    }
}