*{
    
    font-family: sans-serif 'Segoe Print',serif,  "Century Gothic" , Tahoma, "Verdana Geneva";;
}

body{
    background-image: url(2.jpg);
    background-size: cover;
}
.logo img{
    
    height: 50px;
}
.header{
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.right-side{
    display: flex;
    margin-top: 25px;
}
.nav-wrapper .right-side > div{
    font-size: 16px;
    text-transform: uppercase;
}
.nav-link-wrapper a:link,.nav-link-wrapper a:visited{
    color: rgb(8,115,181);
    text-decoration: none;
    transition: 0.8s ease;
    padding: 0px 8px;
    box-sizing: border-box;
}
.container{
    top: 315px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 1px solid dodgerblue;
    border-radius: 4px;
    background-color: white;

}
.registration-form{
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(8,115,181);
    display: inline-block;
    padding: 10px 40px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.registration-form h1{
    font-weight: normal;
    margin-bottom: 0em;
    
}

.info,.term,.year,.course{
    margin: 0 5%;
    margin-bottom: 10px;    
}
.btn{
    margin: 0 5%;
}
#id,#fname,#lname,#eaddress,#pnumber,.term #option1,
.btn,#name,#code,#chr,#tr,#yr{
    width: 100%;
}
#level,#active,.info #option2{
    width: 102.5%;
}
#updatebtn{
    width: 90%;
    margin-top: 2px;
}
input:focus {
    outline: none;
    border: 3px solid rgb(8,115,181);
    border-radius: 4px;
}
#submit,#reset,#searchButton,#delete,#update,#updatebtn{
    width: 45%;
    font-size: 16px;
    color: white;
    background-color: rgb(8,115,181);
    text-decoration: none;
    border: none;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 5px;
    transition:  0.5s ease-in-out;
}
#updatebtn{
    width: 90.5%;
    margin-top: 2px;
}
#delete{
    background-color: #e74c3c;
}
#update,#updatebtn{
    background-color: #f39c12;
}
#searchButton{
    padding: 2px;
    width: 50%;
    margin-bottom: 2px;
}
#submit:hover,#submit:active,#reset:hover,#reset:active,
#searchButton:hover,#searchButton:active{
    background: white;
    color: rgb(8,115,181);
    cursor: pointer;
    border: 1px solid rgb(8,115,181);
    
}
#delete:hover,#delete:active{
    background-color: white;
    color: #e74c3c;
    cursor: pointer;
    border: 1px solid #e74c3c;
    
}
#update:hover,#update:active,#updatebtn:hover,#updatebtn:active{
    background-color: white;
    color: #f39c12;
    cursor: pointer;
    border: 1px solid #f39c12;
}
.copy{
    text-align: center;
}
#levelOfEducation{
    margin-right: 7px;
}
#level,#active,.info #option2{
    height: 22px;
}
.div-tooltip{
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    background: #ecf0f1;/*//#bdc3c7;*/
    padding: 10px 20px;
    margin: 20px;
    width: 130px;
    border-radius: 5px;
    z-index: 99999;
}
@media(max-width: 768px){
   .nav-wrapper,.right-side{
       display: block;
       text-align: center;
       width: 100%;
   }
   .right-side{
       margin-top: 0px
   }
   .container{
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    }
}
